
<div>
    <div class="name-hero">
        <h2>{{brawler.name}}</h2>
        <div>{{brawler.class.name}}</div>

    </div>
  
    <div class="image-hero">
        <img src="{{brawler.image}}" alt="">
    </div>

    <div class="description">
        <p>{{brawler.description}}</p>
    </div>

    <div class="gadgets">

    </div>

    <div class="star-powers">

    </div>

    <div class="Stats">
        <div class="stat">
            <img src="assets/images/offense.png" alt="">
            <label class="stat-name">Offense </label>
            <div class="stat-value">{{brawler.offense}}</div>
        </div>
        <div>
            <img src="assets/images/defense.png" alt="">

            <label class="stat-name">Defense </label>
            <div class="stat-value">{{brawler.defense}}</div>
        </div>

        <div>
            <img src="assets/images/utility.png" alt="">

            <label class="stat-name">Utility </label>
            <div class="stat-value">{{brawler.utility}}</div>
        </div>

        <div>
            <a><img src="assets/images/super.png" alt=""></a>
            <label class="stat-name">Super </label>
            <div class="stat-value">{{brawler.super}}</div>
        </div>

    </div>


    
</div>