<div>
    <div class="name-hero" [ngStyle]="{ 'background-color': hexToRgb(brawler.rarity.color) }">
        <div class="nameAndClass">
            <h2>{{brawler.name}}</h2>
            <h3>{{brawler.class.name}}</h3>
        </div>

    </div>
    <div class="container-data">

        <div class="image-hero">
            <img src="{{brawler.imageUrl}}" alt="{{brawler.name}}">
        </div>

        <div class="description">
            <p>{{brawler.description}}</p>
        </div>

        <div class="star-powers">
            <h2 class="subtitle">Star Powers</h2>

            <div class="container-gd-info">
                <div class="gadget" *ngFor="let starPower of brawler.starPowers">
                    <img src="{{starPower.imageUrl}}" alt="">
                    <div class="description">
                        <h2>{{starPower.name}}</h2>
                        <p>{{starPower.description}}</p>
                    </div>

                </div>
            </div>



        </div>

        <div class="gadgets">
            <h2 class="subtitle">Gadgets</h2>

            <div class="container-gd-info">


                <div class="gadget" *ngFor="let gadget of brawler.gadgets">
                    <img src="{{gadget.imageUrl}}" alt="">
                    <div class="description">
                        <h2>{{gadget.name}}</h2>
                        <p>{{gadget.description}}</p>
                    </div>
                </div>
            </div>
        </div>

     
    </div>

</div>