<header class="header">

    <div class="contenedor-header">



        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/brawlers" >Brawlers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/posts">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/maps">Mapas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/game-mode">Modos de juego</a>
                        </li>


                    
                       

                    </ul>
                </div>
            </div>
        </nav>

        <div class="header__texto">
            <div class="header_logo">
                <a href="home"> <img src="../../assets/logo.png" alt="logo Br"></a>
            </div>
            <h1 class="title"> Crea y realiza estrategias para jugar en equipo</h1>
            <a class="header_boton" routerLink="/register">Obtener Cuenta</a>
            <a class="header_boton" routerLink="/login"> Ingresar</a>
        </div>


        <div class="header__grafico ">
            <div class="header--azul"></div>
            
            <!-- <img class="header_imagen" src="../../assets/Colt.png" alt="Colt">-->
        </div>
    </div>
</header>