* {
    color: #dfdcdc;
}

.header {
    width: 100%;
    margin-bottom: 5%;
}



.header_logo img {
    max-width: 15rem;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

    text-align: center;
    font-size: 30px;
    line-height: 1.2;

}

.navbar button {
    width: 15vw;
    height: 5vh;
    background: #dfdcdc;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #fff;
}

@media screen and (min-width: 990px) {
    .contenedor-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 30px 50px;
    }
    .header{
        margin-bottom: 5%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    .nav-item a {
        color: #dfdcdc;
        font-size: 25px;
        margin: 0 10px;

    }

    .navbar-nav a:hover {
        color: #fff;
        text-decoration: none;
        transition-property: transform;
        transition-duration: 300ms;
    }


    .header_logo img {
        max-width: 25rem;
        margin: 0;
    }

}

