.footer {
    background-color: #6834a670;
    padding: 1.2rem;
    margin-top: 25%;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer_contacto {
    text-align: center;
}

.footer_logo img {
    position: absolute;
    right: 0;
    width: 25rem;
    max-width: 25%;
    bottom: 90%;

}