
@font-face {
    font-family: 'Nougat-ExtraBlack';
    src: url('../../../assets/fonts/Nougat-ExtraBlack.ttf') format('truetype'); /* Cambia la extensión a .ttf */
    font-weight: 400;
    font-style: normal;
}


*{
    font-family: 'Nougat-ExtraBlack', sans-serif;
    color: #fff;


}



.data-card{
    padding: 5px;
    margin: 8px 0px;
    width: 20%;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    background-color: rgb(236, 234, 111);
}


ul{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0;
    margin: 0;
    padding: 0 5px;

}

li{
    width: 75%;
    list-style: none;
    background: black;
    padding: 5px;
    margin: 2px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.Card-icon__image img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.Card-icon__name {
    position: relative;
    height: 0;
    bottom: 25px;
    left: 13px;

}

.Card-icon__name a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;

}



/* HASTA 576PX */

@media (min-width: 576px) {

    .container-brawls{
        width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
        height: 200px; /* Ajusta la altura del contenedor según tus necesidades */
        overflow-x: auto; /* Habilita el desplazamiento horizontal */
        overflow-y: hidden;

    }
    ul{
        white-space: nowrap; /* Evita el salto de línea para los elementos */
        display: inline-block;

    }

    li{
        display: inline-block; /* Elementos dispuestos en línea */
        width: 200px; /* Ancho de cada elemento, ajusta según tus necesidades */
        height: 150px; /* Altura de cada elemento, ajusta según tus necesidades */
        margin-right: 10px;
    }

    .Card-icon__name {
     
    }

}