<div class="container-brawls" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()" [scrollWindow]="true">

    <ul>
        <li *ngFor="let brawler of brawlers" [routerLink]="['/brawler', brawler.id]" >
        
            <div class="Card-icon__image" [style.border]="'5px solid ' + brawler.color">
                <img src="{{brawler.image}}" alt="{{brawler.name}}">
            </div>
            <div class="Card-icon__name">
                <a>
                    {{brawler.color}}
                </a>
            </div>
        </li>
    </ul>

    <div *ngIf="isLoading">Loading...</div>
</div>
