<div data-reflow-type="product">
    <div class="reflow-product">
        <div class="ref-media">
            <div class="ref-preview"><img class="ref-image active" src="https://cdn.bootstrapstudio.io/products/product-30_md.jpg" data-reflow-preview-type="image" /></div>
            <div class="ref-promo-badge">SALE</div>
        </div>
        <div class="ref-product-data">
            <h2 class="ref-name">Piggy Bank</h2>
            <div class="ref-categories"><span class="ref-category">Toys</span></div><strong class="ref-price ref-on-sale"><s class="ref-original-price">$100.00</s>$42.23</strong><span data-reflow-type="add-to-cart" data-reflow-shoppingcart-url data-reflow-addtocart-text data-reflow-product="717978921" data-reflow-variant="199976733_s">
                <div class="reflow-add-to-cart ref-product-controls">
                    <div class="ref-variant"><label><span>Size</span><select class="ref-form-control ref-field-variants" name="variant-state" required>
                                <option value="199976733_s">S</option>
                                <option value="199976733_m">M</option>
                                <option value="199976733_l">L</option>
                            </select></label></div><span data-reflow-variant="199976733_s" data-reflow-product="717978921" data-reflow-max-qty="999" data-reflow-quantity="1">
                        <div class="ref-quantity-widget">
                            <div class="ref-decrease"><span></span></div><input type="text" value="1" />
                            <div class="ref-increase"><span></span></div>
                        </div>
                    </span><a class="ref-button" href="#">Add to Cart</a>
                </div>
            </span>
            <div class="ref-description">Itaque id <b>quidem</b> aperiam <i>perspiciatis</i> unde natus voluptates.</div>
        </div>
    </div>
</div>