
<!--
<div class="container-data" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()" [scrollWindow]="true">

    <ul>
        <li *ngFor="let dt of data" [routerLink]="['/{route}', data.id]" >
        
            <div class="Card-icon__image" [style.border]="'5px solid ' + color">
                <img src="{{data.imageUrl}}" alt="{{name}}">
            </div>
            <div class="Card-icon__name">
                <a>
                    {{data.name}}
                </a>
            </div>
        </li>
    </ul>

    <div *ngIf="isLoading">Loading...</div>
</div>

-->