<app-loading *ngIf="!isDataAvailable"></app-loading>

<ng-container *ngIf="isDataAvailable; else dataNotReady">
    <ng-container *ngTemplateOutlet="dataReady"></ng-container>
</ng-container>

<ng-template #dataNotReady>
    <div>No hay datos disponibles</div>

</ng-template>

<ng-template #dataReady>

    
   
    <owl-carousel-o  class="carrousel-options" [options]="customOptions">
        <ng-template *ngFor="let fl of tagFilter" carouselSlide>
            <a class="tags" (click)="filtrar(fl)">{{fl}}</a>
        </ng-template>
    </owl-carousel-o>


    <ul [ngClass]="styleClassMap[route]">
        <li *ngFor="let dt of data" [routerLink]="['/' + route + '/' + dt.id]">

        
                <div class="Card-icon__image" [style.border]="'5px solid ' + dt.color">
                    <img src="{{dt.image}}" alt="{{dt.name}}">
                </div>
                <div class="Card-icon__name">
                    <a>
                        {{dt.name}}
                    </a>
                </div>

        </li>
    </ul>

</ng-template>