@font-face {
    font-family: 'Nougat-ExtraBlack';
    src: url('../../../assets/font/Nougat-ExtraBlack.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


* {
    font-family: 'Nougat-ExtraBlack', sans-serif;
    color: #fff;


}

body {
    overflow-x: hidden;


}

.data-card {
    padding: 5px;
    margin: 8px 0px;
    width: 20%;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    background-color: rgb(236, 234, 111);
}


ul {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0;
    margin: 5% 0;
    padding: 0 5px;

}

.tags{
    font-size: 2rem;
}



.maps-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.maps-style li{
    width: auto;
    
}
.maps-style .Card-icon__image{
    display: flex;
    justify-content: center;
}

.maps-style li img {
    width: 150px;
    height: 300px;
    object-fit: cover;
    padding: 13px 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
li {
    width: 75%;

    list-style: none;
    background: black;
    padding: 5px;
    margin: 2px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.Card-icon__image img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 13px 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}


.Card-icon__name {
    position: relative;
    height: 0;
    bottom: 30px;
    left: 10px;

}

.Card-icon__name a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block; 
    width: 85%;

}

.Card__container {
    display: flex;
    flex-direction: column;
}

.Card__container .Card-icon__image {
    width: 25%;
}

/* HASTA 576PX */

@media (min-width: 595px) {

    .container-brawls {
        width: 100%;
        height: 200px;
        overflow-x: auto;
        overflow-y: hidden;

    }

    ul{
        grid-template-columns: repeat(3, 1fr);
    }
    .tags{
        font-size: 2.5rem;
    }

}

@media (min-width: 768px) {

  

    ul{
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (min-width: 992px) {

    ul{
        grid-template-columns: repeat(5, 1fr);
    }

}
