
<div class="header__home">
    <h1 class="title_header"> Crea y realiza estrategias para jugar en equipo</h1>
    <a class="header_boton">Obtener Cuenta</a>
    <a class="header_boton"> Ingresar</a>
</div>




  


<div class="main_contenedor">
    <img class="img_main" src="../../assets/Crow.png" alt="home">
    <main >
        <h2 class="title_home second">¿Qué es?</h2>
        <div class="contenedor">
            <div class=" grid">
               
                <div class="listado">
                    <div class="listado_elemento">
                        <h2 class="subtitle">Explore</h2>
                        <p class="text">Visite nuestras Tier-list para elegir la mejor opcion</p>
                    </div>

                    <div class="listado_elemento">
                        <h2 class="subtitle">Registrese</h2>
                        <p class="text">Registrate, para poder participar del foro, como tambien crear posts</p>
                    </div>

                    <div class="listado_elemento">
                        <h2 class="subtitle">Crea</h2>
                        <p class="text">Cree su propia Tier-list, guie y ayude a nuevos usuarios a mejorar su modo de juego</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>